$maincolor: #009223;
$logo_s: './img/logo_s.png';
$icon_global: './img/icon_global.png';
$icon_map: './img/icon_map.png';
$icon_franchise: './img/icon_franchise.png';
$bul_tit: './img/bul_tit.png';
$btn_more: './img/btn_more.png';
$section02: './img/section02.png';
$ad: './img/ad.jpg';
$quickmenu: './img/icon_quickmenu.png';
$instar: './img/icon_sns_instar.png';
$facebook: './img/icon_sns_facebook.png';

//헤더
.nav{
    position: absolute;
    width: 100%;
    top: 120px;
    display: flex;
    justify-content: center;
}

.ul{
    display: flex;
    padding: 0px;
    height: 50px;
}

.logolink{
    position: absolute; left: 50%;
    top: 40px; width: 202px; height: 40px;
    transform: translate(-50%, 0);
    background: url($logo_s);
    font-size: 0px; z-index: 10000;
}

.sideLink1th{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding: 7px 0px;
    font-size: 13px;
    color: #666666;
    text-decoration: none;
}

.sideLink2th{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding: 7px 0px;
    margin-left: 30px;
    font-size: 13px;
    color: #666666;
    text-decoration: none;

  &::before{
    content: '';
    background-color: #ddd;
    width: 3px; height: 3px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(0, -50%);
  }
}

.global{
    position: absolute; width: 30px; height: 30px;
    background: url($icon_global);
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 0;
    font-size: 0px;
}
//메인 상단1
.buttonPosi{
    position: absolute;
    top: 580px; left: 760px;
    margin-left: -590px;
    display: flex; justify-content: flex-end;
    width: 1170px;
    z-index: 30;
}

.findSpan{
    display: inline-block;
    width: 300px; height: 80px;
    background-color: #ffce32;
    border-radius: 30px 0px 0px;
}

.iconfind{
    color: #000000;
    font-weight: bold; font-size:22px;
    
    &::before{
      content:"";
      background: url($icon_map) no-repeat 0px 0px;
      vertical-align: middle;
      display: inline-block;
      width: 24px; height: 30px;
      padding-right: 12px;
    }
}
.subscri{
    display: inline-block;
    width: 300px; height: 80px;
    background-color: #009223;
    border-radius: 0px 0px 30px 0px;
}

.iconsubs{
    color: #FFFFFF;
    font-weight: bold; font-size:22px;
  
    &::before{
      content:"";
      background: url($icon_franchise) no-repeat 0px 0px;
      vertical-align: middle;
      display: inline-block;
      width: 33px; height: 30px;
      padding-right: 12px;
    }
}

#subwayContent{
    height: 550px;
    padding-top: 120px;
}

.menuP{
    font-family: 'SBAggroB';  
    color: #292929; font-size: 35px;
    font-weight: bolder;
    padding: 15px 0px 0px 20px;
    background-image: url($bul_tit);
    background-repeat: no-repeat;
    background-size: 53px;
    width: 1170px; position: relative;
    margin: 0 auto;
}

.tab{
    position: relative;
    top: -28px; left: 700px;
    margin-left: -590px;
    display: flex; justify-content: flex-end;
    width: 1170px;
}

.tabCon{
    padding: 25px 0px; width: 1200px;
    margin: 0 auto;
}

.swicontent{
    width: 290px;
    img{
        box-sizing: border-box;
        padding: 0 10px;
        width: 290px; height: 182px;
    }
    &:hover::after{
        content: "";
        background: url($btn_more) no-repeat 0px 0px;
        display: inline-block;
        width: 98px; height: 98px;
        position: absolute;
        top: 48%; left: 50%;
        transform: translate(-50%,0) scale(0.8);
    }
    &:hover{
        display: inline-block;
        transform: scale(1.2);
        padding: 15px 5px 0px 10px; 
        p,strong{ 
            display: none;
        }
    }
}
.swiLink{
    text-decoration: none; text-align: center;
    display: inline-block; height: 320px;
}

//메인 상단 2
.content_second{
    background: url($section02) no-repeat;
    height: 790px;
}
.second_f{
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 85px;
}
.enjoyCon{
    position: relative;
    width: 400px; height: 300px;
    margin-left: 60px;
    background: url('https://www.subway.co.kr/images/main/bg_utilization.png') no-repeat;

    p{
        font-size: 29px;
        color: white;
        font-weight: bolder;
        letter-spacing: -0.03em;
        line-height: 40px;
        position: absolute;
        top: 38px; left: 38px;
    }

    .enjoyLink{
        position: absolute;
        bottom: 40px; left: 38px;
        border-radius: 20px;
        border: 2px solid white;
        color: white; font-size: 16px;
        width: 95px; height: 40px;
        box-sizing: border-box;
        text-align: center; padding: 9px 0px;
        text-decoration: none; font-weight: bold;
    }
}

.subwayHis{
    position: relative;
    width: 830px; height: 300px;
    background: url('https://www.subway.co.kr/images/main/img_subway_history.png') no-repeat;

    p{
        font-size: 29px;
        color: white; font-weight: bolder;
        position: absolute;
        right: 95px; top: 38px;
        letter-spacing: -0.03em;
        line-height: 40px;
    }

    .HisLink{
        position: absolute;
        bottom: 40px; right: 275px;
        border-radius: 20px;
        border: 2px solid white;
        color: white; font-size: 16px;
        width: 132px; height: 40px;
        box-sizing: border-box;
        text-align: center; padding: 9px 0px;
        text-decoration: none; font-weight: bold;
    }
}

.second_s{
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 40px;
}
.news{
    position: relative;
    width: 860px; height: 300px;
    background-color: white;
    border-radius: 40px 0px 40px 0px;
    margin-right: 30px;

    span:first-child{
        display: inline-block;
        position: absolute;
        top: 75px; left: 68px;
        p:first-child{
            font-family: 'SBAggroB';  
            color: #292929; font-size: 28px;
            font-weight: bold;
            padding: 17px 0px 0px 18px;
            background-image: $bul_tit;
            background-repeat: no-repeat;
            background-size: 53px;
            position: relative; height: 40px;
        }
        p:nth-child(2){
            padding-top: 20px;
            text-align: center;
            line-height: 25px; font-weight: bold;
        }
    }

    span:nth-child(2){
        display: inline-block;
        position: absolute;
        top: 70px; right: 144px;
        ul{
            list-style: none;
            li{
                .newsli{
                    position: relative;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 16px;
                }
                .newsli:hover{
                    color: $maincolor;
                }
                .newsli::after{
                    content: '';
                    position: absolute;
                    left: 0px; bottom: -1px;
                    display: inline-block;
                    width: 0px; height: 1px;
                    transition: all 0.3s;
                    background-color: $maincolor;
                }
                .newsli:hover::after{
                    display: inline-block;
                    width: 100%;

                }
            }
            li:nth-child(2), li:nth-child(3){
                margin-top: 20px;
            }
        }
        .newsMore{
            display: inline-block;
            margin-top: 40px;
            text-decoration: none;
        }
    }
}
.ad{
    background: url($ad) no-repeat 0 0;
    width: 270px; height: 300px;
    border-radius: 0px 40px 0px 40px;
}

//메인 상단3 - 빠른 메뉴
.quickmenu{
    padding: 35px 0px;
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        li{
            position: relative;
            margin-left: 80px;

            .quicklink{
                text-decoration: none;
                display: flex;
                height: 70px;

                div{
                    width: 70px; height: 70px;
                    background: url($quickmenu) no-repeat;
                }
                .quick1{
                    background-position: 0px 0px;
                }
                .quick2{
                    background-position: -70px 0px;
                }
                .quick3{
                    background-position: -140px 0px;
                }
                .quick4{
                    background-position: -210px 0px;
                }

                span{
                    padding: 10px 0px 10px 20px;
                    b{
                        font-size: 18px;
                        display: inline-block;
                        margin-bottom: 10px;
                        color: black;
                        font-weight: 800;
                    }
                    p{
                        font-size: 13px;
                    }    
                }
            }
        }
        li:first-child{
            margin-left: 0px;
        }
    }
}

//푸터
.footer{
    position: relative;
    padding: 20px 0px;
    background-color: #292929;

    .content{
        margin-left: 180px;
        ul:first-child{
            list-style: none;
            margin-bottom: 35px;

            li{
                display: inline-block;
                margin-right: 30px;

                .Fcontentli{
                    text-decoration: none;
                    font-size: 14px;
                    
                    b{
                        font-size: 14px;
                        color: #bbbbbb;
                    }
                }
            }
        }

        ul:nth-child(2){
            list-style: none;
            li{
                display: inline-block;
                padding-right: 10px;
                font-size: 13px;
            }
            li::after{
                content: '';
                position: relative;
                top: 1px;
                display: inline-block;
                width: 2px; height: 11px;
                background-color: #666666;
                margin-left: 10px;

            }
            li:nth-child(4)::after{
                display: none;
            }
        }
        span{
            display: inline-block;
            font-size: 13px;
            margin-top: 10px;
        }
        button{
            border: none;
            cursor: pointer;
        }
        .insta, .facebook{
            display: inline-block;
            width: 50px; height: 50px;
            position: absolute;
            bottom: 17px; right: 190px;          
        }
        .insta{
            right: 250px;
            background: url($instar) no-repeat 0 0;
        }
        .facebook{
            background: url($facebook) no-repeat 0 0;
        }
        
        .insta::after{
            content: '';
            display: inline-block;
            width: 50px; height: 50px;
            background: url($instar) no-repeat 100% 0;
            opacity: 0;
            transition-duration: 0.2s;  
        }
        .insta:hover::after{
            display: inline-block;
            opacity: 1;
        }
        .facebook::after{
            content: '';
            display: inline-block;
            width: 50px; height: 50px;
            background: url($facebook) no-repeat 100% 0;
            opacity: 0;
            transition-duration: 0.2s;  
        }
        .facebook:hover::after{
            display: inline-block;
            opacity: 1;
        }
    }
}
.footer::after{
    content: '';
    width: 100%; height: 1px;
    display: inline-block;
    position: absolute;
    top: 55px;
    background-color: #666666;
}

/*로그인 페이지*/
.loginContainer{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    width: 100%;
    padding: 80px 0px;
}

.loginForm{
    box-sizing: border-box;
    width: 650px;
    margin: 0px auto;
    padding: 80px 80px 60px;
    background-color: #FFFFFF;
    border-radius: 30px 0px 30px 0px;

    h2{
        font-size: 40px;
        text-align: center;
        color: #292929;
    }
    p{
        color: #919191;
        text-align: center;
        margin-top: 20px;
        line-height: 25px;
        font-weight: bold;
    }
    form{
        margin-top: 45px;
    }

    form > ul li{
        list-style-type: none;
    }
    /*input 태그*/
    .eidC, .pwC{
        display: flex;
        height: 85px;
    }

    .eidC{
        border-bottom: 1px solid #e5e5e5;
    }

    .eidC > li:first-child,
    .pwC > li:first-child{
        margin-left: 25px;
        width: 120px;
        display: flex;
        align-items: center;
        font-weight: 600;
    }

    #emailid, #pw{
        border: none;
        margin-left: 25px;
        width: 300px;
        height: 100%;
    }

    #emailid:focus,
    #pw:focus{
        outline:none;
    }

    #emailid::placeholder,
    #pw::placeholder{
        color: #e5e5e5;
        font-weight: 300;
    }
    /*체크박스*/
    .check{
        display: inline-block;
        cursor: pointer;
        margin-top: 10px;
        position: relative;
        width: 170px;
    }

    .check > input{
        display: none;
    }
    .check > .icon{
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: 2px solid #e5e5e5;
        border-radius: 50px;
        position: relative;
        margin-right: 7px;
    }

    .check > .icon::before,
    .check > .icon::after{
        content: '';
        display: inline-block;
        width: 5px;
        height: 0px;
        background-color: $maincolor;
        position: absolute;
        transform-origin: left top;
    }

    .check > .icon::before{
        top: 12px;
        left: 4px;
        transform: rotate(-45deg);
        transition: all 0.1s ease 0.1s;
    }

    .check > .icon::after{
        top: 21px;
        left: 13px;
        transform: rotate(-135deg);
        transition: all 0.1s ease;
    }

    .check > input:checked ~ .icon::before{
        height: 10px;
        transition: all 0.1s ease;
    }

    .check > input:checked ~ .icon::after{
        height: 22px;
        transition: all 0.1s ease 0.1s;
    }

    .check > .checkWrite{
        position: absolute;
        font-weight: 600;
        display: inline-block;
        margin: 5px 0px;
        box-sizing: border-box;
    }
    /*로그인 버튼*/
    li > button{
        width: 100%;
        height: 70px;
        background-color: $maincolor;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
        margin-top: 40px;
        border: none;
        cursor: pointer;
    }
    li > button:hover{
        background-color: #098326;
        transition: all 0.1s;
    }
    /*찾기, 회원가입 링크*/
    .findSignin{
        text-align: center;
        margin-top: 35px;
        font-weight: 600;
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                color: #999999;
            }
            li::after{
                content:'|';
                margin: 0 40px;
            }
            li:nth-child(3)::after{
                content: '';
                margin: 0;
            }
        }
    }
}